{#{% extends "hub/_hub_base.html" %}#}
{#{% load crispy_forms_tags %}#}
{#{% load crispy_forms_filters %}#}
{#{% load allauth i18n %}#}
{#{% block head_title %}#}
{#    {% trans "Change Password" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Change Password" %}#}
{#    {% endelement %}#}
{#    {% url 'account_change_password' as action_url %}#}
{#    {% element form form=form method="post" action=action_url %}#}
{#        {% slot body %}#}
{#            {% csrf_token %}#}
{#            {{ redirect_field }}#}
{#            {% element fields form=form %}#}
{#            {% endelement %}#}
{#        {% endslot %}#}
{#        {% slot actions %}#}
{#            <button class="btn btn-success" type="submit">Change Password</button>#}
{#            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#        {% endslot %}#}
{#    {% endelement %}#}
{#{% endblock content %}#}

{% extends "hub/_hub_base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    {% url 'account_change_password' as action_url %}

    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group mt-3">
            <button class="btn btn-success" type="submit">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}" class="btn btn-link mt-2">{% trans "Forgot Password?" %}</a>
        </div>
    </form>
{% endblock content %}