{#{% extends "pages/_pages_base.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% block head_title %}#}
{#    {% trans "Change Password" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Change Password" %}#}
{#    {% endelement %}#}
{#    {% element p %}#}
{#        {% trans 'Your password is now changed.' %}#}
{#    {% endelement %}#}
{#{% endblock content %}#}

{% extends "pages/_pages_base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans "Your password has been changed successfully." %}</p>
{% endblock content %}