{#{% extends "pages/_pages_base.html" %}#}
{#{% load i18n %}#}
{#{% load allauth %}#}
{#{% load account %}#}
{#{% block head_title %}#}
{#    {% trans "Password Reset" %}#}
{#{% endblock head_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Password Reset" %}#}
{#    {% endelement %}#}
{#    {% if user.is_authenticated %}#}
{#        {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}
{#    {% element p %}#}
{#        {% blocktrans %}We have emailed you. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}#}
{#    {% endelement %}#}
{#{% endblock content %}#}

{% extends "pages/_pages_base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        {% blocktrans %}We have emailed you. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans "Reset My Password" %}</button>
    </form>
{% endblock content %}