asgiref==3.8.1
beautifulsoup4==4.12.3
black==24.10.0
boto3==1.35.38
botocore==1.35.38
Brotli==1.1.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.4
crispy-bootstrap5==2024.10
cryptography==44.0.0
cssselect2==0.7.0
DAWG-Python==0.7.2
dj-database-url==2.2.0
Django==5.1.3
django-allauth==65.0.2
django-braces==1.16.0
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-modeltranslation==0.19.9
django-nested-admin==4.1.1
django-rosetta==0.10.1
django-ses==4.2.0
django-storages==1.14.4
django-widget-tweaks==1.5.0
django_csp==3.8
docopt==0.6.2
environs==11.0.0
fonttools==4.55.2
google==3.0.0
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-core==2.4.1
google-cloud-translate==3.18.0
googleapis-common-protos==1.66.0
googlemaps==4.10.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
gunicorn==23.0.0
h11==0.14.0
idna==3.10
jmespath==1.0.1
marshmallow==3.22.0
mypy-extensions==1.0.0
numpy==2.1.3
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
paypalrestsdk==1.13.3
phonenumbers==8.13.50
pillow==10.4.0
platformdirs==4.3.6
polib==1.2.0
proto-plus==1.25.0
protobuf==5.29.0
psycopg==3.2.3
psycopg-binary==3.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydyf==0.11.0
pymorphy2-dicts-ru==2.4.417127.4579844
pyOpenSSL==24.3.0
pyphen==0.15.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-monkey-business==1.1.0
pytz==2024.2
redis==5.2.0
requests==2.32.3
rsa==4.9
s3transfer==0.10.3
setuptools==75.6.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
stripe==11.3.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
tzdata==2024.2
uk-postcode-utils==1.1
urllib3==2.2.3
weasyprint==63.0
webencodings==0.5.1
whitenoise==6.7.0
zopfli==0.2.3.post1
