{% extends "hub/_hub_base.html" %}
{% load i18n %}

{% block title %}Locations{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2>Divisions</h2>
    
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'locations:division_create' %}" class="btn btn-outline-primary">
                {% trans "Create Division" %}
            </a>
        </div>

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="divisionTabs" role="tablist">
            {% for division in division_list %}
                <li data-id="{{ division.id }}" class="nav-item" role="presentation">
                    <a
                            class="nav-link {% if request.resolver_match.kwargs.slug == division.slug %}active link-primary{% else %}link-secondary{% endif %}"
                            id="tab-{{ division.id }}"
                            href="{% url 'locations:division_list' slug=division.slug %}"
                            role="tab"
                            aria-controls="content-{{ division.id }}"
                            aria-selected="{% if request.resolver_match.kwargs.slug == division.slug %}true{% else %}false{% endif %}"
                    >
                        {{ division.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {#        <!-- Tab content -->#}
        <div class="tab-content mt-3" id="divisionTabsContent">
            {% for division in division_list %}
                <div
                        class="tab-pane fade {% if request.resolver_match.kwargs.slug == division.slug %}show active{% endif %}"
                        id="content-{{ division.id }}"
                        role="tabpanel"
                        aria-labelledby="tab-{{ division.id }}"
                >
                    <h4>{{ division.title }}</h4>
                    <p>Content for {{ division.title }} will go here.</p>

                    <!-- Кнопки "Редактировать" и "Удалить" -->
                    <div class="d-flex justify-content-end mt-3">
                        <a href="{% url 'locations:division_edit' slug=division.slug %}"
                           class="btn btn-outline-warning me-2">
                            {% trans "Edit" %}
                        </a>
                        <a href="{% url 'locations:division_delete' slug=division.slug %}"
                           class="btn btn-outline-danger">
                            {% trans "Delete" %}
                        </a>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.14.0/html5sortable.min.js"
            integrity="sha512-B/yiMlkxhtHzzJxPa5kNOO/+8cq0Fj4ndMUxVo2kGunCCH8g8XrPnzqg+sOon3hQ8RaEY2YytH+PIseTtfstjg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock include_js %}
{% block domready %}
    let options = {
    method: 'POST',
    mode: 'same-origin',
    headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
    }
    };

    const divisionOrderUrl = '{% url 'locations:division_order' %}';

    function handleFetchResponse(response) {
    if (response.ok) {
    return response.json();
    } else {
    return response.json().then(data => {
    alert(data.error || "An error occurred. Please try again.");
    return Promise.reject(data.error);
    });
    }
    }

    sortable('#divisionTabs', {forcePlaceholderSize: true, placeholderClass: 'placeholder'})[0]
    .addEventListener('sortupdate', (evt) => {
    const divisionsOrder = {};
    document.querySelectorAll('#divisionTabs li').forEach((division, index) => {
    const divisionId = division.dataset.id;
    if (divisionId && divisionId !== 'undefined') {
    divisionsOrder[divisionId] = index;
    }
    });

    options.body = JSON.stringify(divisionsOrder);
    fetch(divisionOrderUrl, options)
    .then(handleFetchResponse)
    .then(data => console.log("Division order saved successfully"))
    .catch(error => console.error(error));
    });
{% endblock %}