{% extends "hub/_hub_base.html" %}
{% load i18n %}

{% block title %}Locations{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2>Churches and Organisations</h2>

        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'locations:division_create' %}" class="btn btn-outline-primary">
                {% trans "Create Division" %}
            </a>
        </div>

        <!-- Tab navigation -->
        <ul class="nav nav-tabs" id="divisionTabs" role="tablist">
            {% for division in division_list %}
                <li data-id="{{ division.id }}" class="nav-item" role="presentation">
                    <a
                            class="nav-link {% if request.resolver_match.kwargs.slug == division.slug %}active link-primary{% else %}link-secondary{% endif %}"
                            id="tab-{{ division.id }}"
                            href="{% url 'locations:division_list' slug=division.slug %}"
                            role="tab"
                            aria-controls="content-{{ division.id }}"
                            aria-selected="{% if request.resolver_match.kwargs.slug == division.slug %}true{% else %}false{% endif %}"
                    >
                        {{ division.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {#        <!-- Tab content -->#}
        <div class="tab-content mt-3" id="divisionTabsContent">
            {% for division in division_list %}
                <div
                        class="tab-pane fade {% if request.resolver_match.kwargs.slug == division.slug %}show active{% endif %}"
                        id="content-{{ division.id }}"
                        role="tabpanel"
                        aria-labelledby="tab-{{ division.id }}"
                >
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'locations:division_branch_create' division_slug=division.slug %}"
                           class="btn btn-primary">{% trans 'Add new location' %}</a>
                        <div class="d-flex justify-content-end mt-3">
                            <a href="{% url 'locations:division_edit' slug=division.slug %}"
                               class="btn btn-outline-warning me-2">
                                {% trans "Edit" %} 
                            </a>
                            <a href="{% url 'locations:division_delete' slug=division.slug %}"
                               class="btn btn-outline-danger">
                                {% trans "Delete" %} 
                            </a>
                        </div>
                    </div>

                    <!-- Branch table -->
                    <div class="table-responsive mt-3">
                        <table class="table table-striped table-bordered">
                            <thead class="table-dark">
                            <tr class="text-center">
                                <th>
                                    <a class="link-light link-underline link-underline-opacity-0"
                                       href="?sort=title&direction={% if current_base_sort == 'title' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                        {% trans "Branch Name" %}
                                        {% if current_base_sort == 'title' %}
                                            <span>{% if current_direction == 'asc' %}↑{% else %}↓{% endif %}</span>
                                        {% endif %}
                                    </a>
                                </th>
                                {% if is_religious %}
                                    <th>
                                        <a class="link-light link-underline link-underline-opacity-0"
                                           href="?sort=parish_priest&direction={% if current_base_sort == 'parish_priest' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                            {% trans "Parish Priest" %}
                                            {% if current_base_sort == 'parish_priest' %}
                                                <span>{% if current_direction == 'asc' %}↑{% else %}↓{% endif %}</span>
                                            {% endif %}
                                        </a>
                                    </th>
                                {% else %}
                                    <th>
                                        <a class="link-light link-underline link-underline-opacity-0"
                                           href="?sort=branch_chair&direction={% if current_base_sort == 'branch_chair' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                            {% trans "Branch Chair" %}
                                            {% if current_base_sort == 'branch_chair' %}
                                                <span>{% if current_direction == 'asc' %}↑{% else %}↓{% endif %}</span>
                                            {% endif %}
                                        </a>
                                    </th>
                                {% endif %}
                                <th>
                                    <a class="link-light link-underline link-underline-opacity-0"
                                       href="?sort=postcode&direction={% if current_base_sort == 'postcode' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                        {% trans "Postcode" %}
                                        {% if current_base_sort == 'postcode' %}
                                            <span>{% if current_direction == 'asc' %}↑{% else %}↓{% endif %}</span>
                                        {% endif %}
                                    </a>
                                </th>
                                <th>
                                    <a class="link-light link-underline link-underline-opacity-0"
                                       href="?sort=address&direction={% if current_base_sort == 'address' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                        {% trans "Address" %}
                                        {% if current_base_sort == 'address' %}
                                            <span>{% if current_direction == 'asc' %}↑{% else %}↓{% endif %}</span>
                                        {% endif %}
                                    </a>
                                </th>
                                <th>
                                    <a class="link-light link-underline link-underline-opacity-0"
                                       href="?sort=status&direction={% if current_base_sort == 'status' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">
                                        {% trans "Status" %}
                                        {% if current_base_sort == 'status' %}
                                            <span>{% if current_direction == 'asc' %}↑{% else %}↓{% endif %}</span>
                                        {% endif %}
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for branch in branches %}
                                <tr>
                                    <td>
                                        <a href="{% url 'locations:division_branch_update' division_slug=division.slug branch_slug=branch.slug %}">
                                            {{ branch.title }}
                                        </a>
                                    </td>
                                    {% if is_religious %}
                                        <td>{{ branch.parish_priest.first_name|default:"" }} {{ branch.parish_priest.last_name|default:"" }}</td>
                                    {% else %}
                                        <td>{{ branch.branch_chair.first_name|default:"" }} {{ branch.branch_chair.last_name|default:"" }}</td>
                                    {% endif %}
                                    <td>{{ branch.postcode|default:"" }}</td>
                                    <td>{{ branch.address|default:"" }}</td>
                                    <td class="text-center">
                                        <form method="post"
                                              action="{% if branch.status == branch.Status.HIDE %}
                                                          {% url 'locations:division_branch_display' division_slug=branch.division.slug branch_slug=branch.slug %}
                                                      {% elif branch.status == branch.Status.DISPLAY %}
                                                          {% url 'locations:division_branch_hide' division_slug=branch.division.slug branch_slug=branch.slug %}
                                                      {% endif %}">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="badge btn border-0 {% if branch.status == branch.Status.HIDE %}bg-secondary text-light{% elif branch.status == branch.Status.DISPLAY %}bg-success text-light{% else %}bg-warning text-dark{% endif %}">
                                                {% if branch.status == branch.Status.HIDE %}
                                                    {% trans "Hidden" %}
                                                {% elif branch.status == branch.Status.DISPLAY %}
                                                    {% trans "Displayed" %}
                                                {% else %}
                                                    {% trans "Unknown" %}
                                                {% endif %}
                                            </button>
                                        </form>
                                    </td>

                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center text-muted">
                                        {% trans "No branches available for this division." %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.14.0/html5sortable.min.js"
            integrity="sha512-B/yiMlkxhtHzzJxPa5kNOO/+8cq0Fj4ndMUxVo2kGunCCH8g8XrPnzqg+sOon3hQ8RaEY2YytH+PIseTtfstjg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock include_js %}
{% block domready %}
    let options = {
    method: 'POST',
    mode: 'same-origin',
    headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
    }
    };

    const divisionOrderUrl = '{% url 'locations:division_order' %}';

    function handleFetchResponse(response) {
    if (response.ok) {
    return response.json();
    } else {
    return response.json().then(data => {
    alert(data.error || "An error occurred. Please try again.");
    return Promise.reject(data.error);
    });
    }
    }

    sortable('#divisionTabs', {forcePlaceholderSize: true, placeholderClass: 'placeholder'})[0]
    .addEventListener('sortupdate', (evt) => {
    const divisionsOrder = {};
    document.querySelectorAll('#divisionTabs li').forEach((division, index) => {
    const divisionId = division.dataset.id;
    if (divisionId && divisionId !== 'undefined') {
    divisionsOrder[divisionId] = index;
    }
    });

    options.body = JSON.stringify(divisionsOrder);
    fetch(divisionOrderUrl, options)
    .then(handleFetchResponse)
    .then(data => console.log("Division order saved successfully"))
    .catch(error => console.error(error));
    });
{% endblock %}