{% extends 'pages/_pages_base.html' %}

{% load i18n %} 

{% block title %}{% trans "Success" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Thank you for your donation!" %}</h1>
    <p>
        {% trans "Dear" %} {{ donation.donor.first_name }} {{ donation.donor.last_name }},
        {% trans "thank you for your generous donation of" %} £{{ donation.amount }}.
    </p>
    <p>
        {% trans "Transaction ID:" %} {{ donation.transaction_id }}
    </p>
    <p>
        {% trans "Date:" %} {{ donation.donated_at }}
    </p>
{% endblock content %}