
body {
    min-height: 75rem;
    padding-top: 7.0rem;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    color: blueviolet;
}

.logo {
    height: 70px;
    width: auto;
}

img {
    max-width: 100%;
    height: auto;
}




