{% extends 'hub/_hub_base.html' %}
{% load static %}
{% block cms_css %}
    <link rel="stylesheet" href="{% static 'css/cms.css' %}">
{% endblock cms_css %}

{% block title %}Unpublish Section{% endblock title %}

{% block content %}
    <h1 class="mb-4">Unpublish Section {{ section.order }}: {{ section.title }}</h1>
    <p>Are you sure you want to unpublish this section?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Unpublish</button>
        <a href="{% url 'page_section_update' section.page.slug %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock content %}